@import "tailwindcss";
@keyframes sparks {
    0% {
      opacity: 0;
      transform: translate(0, 0) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: translate(calc(-10px + 20px * random()), calc(-10px + 20px * random())) scale(1.2);
    }
    100% {
      opacity: 0;
      transform: translate(0, 0) scale(0.8);
    }
  }
  
  .sparks {
    position: absolute;
    width: 120px;
    height: 120px;
  }
  
  .sparks::before,
  .sparks::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(0, 238, 255, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 238, 255, 1);
    animation: sparks 1s infinite alternate;
  }
  
  .sparks::after {
    left: 100px;
    top: 30px;
    animation-delay: 0.5s;
  }
  
  .box {
    position: relative;
    width: 100%;
    background: rgba(0, 255, 255, 0.237);
    /* border-radius: 12px; */
    /* overflow: hidden; */
    height: max-content;
    padding: 10px;
  }
  
  /* Yuqori-chap qalin chiziq */
  .box::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-left: 3px solid cyan;
    border-top: 3px solid cyan;
    z-index: 999;
}

  
  .box::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-bottom: 3px solid cyan;
    border-right: 3px solid cyan;
  }
  

  .comment{
    background: rgba(0, 255, 255, 0.31);
    /* border-radius: 12px; */
    position: relative;
    border-radius: 0px 10px 0px 10px;
  }


  .comment::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-left: 3px solid cyan;
    border-top: 3px solid cyan;
    z-index: 999;
}

  
  .comment::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom: 3px solid cyan;
    border-right: 3px solid cyan;
  }